// ID and hash obtained from https://my.telegram.org/auth
export const API_ID = 12345678;
export const API_HASH = "somehashlikethisf3b8c27e81d4a65f";

export const TG_LOGIN = "79998887766";
export const TG_PASSWORD = "your-tg-pass";
