// SERVER SETTINGS
export const APP_IP = "127.0.0.1";
export const APP_PORT = 3000;
export const JWT_SECRET = 'jwt_secret_phrase_goes_here';

// ID and hash obtained from https://my.telegram.org/auth
export const API_ID = 12345678;
export const API_HASH = "somehashlikethisf3b8c27e81d4a65f";

export const TG_LOGIN = "79998887766";
export const TG_PASSWORD = "your-tg-pass";

// DB
export const DB_FILE_NAME = 'filename.db'; // WITH EXTENSION❗
export const DO_RECHECK_DB = true;
// any users that need to be present after db creation; register to get hashedPassword
export const INIT_USERS = [
  {
    id: 1,
    username: 'admin',
    hashedPassword: '$2b$10$IZopuhO.eoXD1P2SmWQB1eMDBbgeCCYqZizkaV8fSQ7ZXZzF1enC2',
    isAdmin: 1,
  },
];

// PARSE
export const PARSE_GROUP_IDS = [-1111111111111, -2222222222222];
