// SERVER SETTINGS
export const APP_IP = "127.0.0.1";
export const APP_PORT = 3000;

// ID and hash obtained from https://my.telegram.org/auth
export const API_ID = 12345678;
export const API_HASH = "somehashlikethisf3b8c27e81d4a65f";

export const TG_LOGIN = "79998887766";
export const TG_PASSWORD = "your-tg-pass";

// DB
export const RECHECK_DB = true;

// PARSE
export const PARSE_GROUP_IDS = [-1111111111111, -2222222222222];
